<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>ViewSubmission</servlet-name>
		<servlet-class>bugkillr.PrintSubmissionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSubmission</servlet-name>
		<url-pattern>/viewsubmission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmissionForm</servlet-name>
		<servlet-class>bugkillr.SubmissionFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmissionForm</servlet-name>
		<url-pattern>/submitform</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>bugkillr.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>bugkillr.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewTeams</servlet-name>
		<servlet-class>bugkillr.ViewTeamsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewTeams</servlet-name>
		<url-pattern>/viewteams</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeTeam</servlet-name>
		<servlet-class>bugkillr.DBChangeTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeTeam</servlet-name>
		<url-pattern>/changeteam</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProblemForm</servlet-name>
		<servlet-class>bugkillr.ProblemFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProblemForm</servlet-name>
		<url-pattern>/addproblemform</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProblemDB</servlet-name>
		<servlet-class>bugkillr.DBAddProblemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProblemDB</servlet-name>
		<url-pattern>/addproblemDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTeamForm</servlet-name>
		<servlet-class>bugkillr.TeamFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTeamForm</servlet-name>
		<url-pattern>/addteamform</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTeamDB</servlet-name>
		<servlet-class>bugkillr.DBAddTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTeamDB</servlet-name>
		<url-pattern>/addteamDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBProcessSubmission</servlet-name>
		<servlet-class>bugkillr.DBProcessSubmissionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBProcessSubmission</servlet-name>
		<url-pattern>/DBprocess_submission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewUnsolvedProblems</servlet-name>
		<servlet-class>bugkillr.ViewAvailableProblemsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewUnsolvedProblems</servlet-name>
		<url-pattern>/problems</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewProblem</servlet-name>
		<servlet-class>bugkillr.ViewProblemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewProblem</servlet-name>
		<url-pattern>/viewproblem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewTeamStatistics</servlet-name>
		<servlet-class>bugkillr.ViewTeamStatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewTeamStatistics</servlet-name>
		<url-pattern>/highscores</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewTeamStatisticsDetail</servlet-name>
		<servlet-class>bugkillr.ViewTeamStatisticsDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewTeamStatisticsDetail</servlet-name>
		<url-pattern>/viewteamdetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AskAddUser</servlet-name>
		<servlet-class>bugkillr.AskAddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AskAddUser</servlet-name>
		<url-pattern>/askadduser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AskJoinTeam</servlet-name>
		<servlet-class>bugkillr.AskJoinTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AskJoinTeam</servlet-name>
		<url-pattern>/askjointeam</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Tools</servlet-name>
		<servlet-class>bugkillr.ToolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tools</servlet-name>
		<url-pattern>/tools</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Feedback</servlet-name>
		<servlet-class>bugkillr.FeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Feedback</servlet-name>
		<url-pattern>/feedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GettingStarted</servlet-name>
		<servlet-class>bugkillr.GettingStartedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GettingStarted</servlet-name>
		<url-pattern>/gettingstarted</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
</web-app>
